/* Results Header */
.Results-header {
  display: flex;
  justify-content: center;
  margin-bottom: 10px; /* equalize top-bottom margins, give the sprite size slider some space */
}

.Results-header-unit {
  margin: 0.5rem;
  width: 6rem;
  text-align: center;
}

.Results-header-unit > h4 {
  margin: 0.5em auto;
  font-size: 1.25rem;
}

.Results-header-count {
  font-size: 2rem;
}

.Results-size {
  display: flex;
  align-items: center;
  font-size: 1.25rem;
}

/* Result Sprites */
.Results-section-header > h3 {
  font-size: 1.5rem;
}
