/* Results Header */
.Results-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.Results-header-unit {
  margin: 0.5rem;
  width: 6rem;
  text-align: center;
}

.Results-header-unit > h4 {
  margin: 0.5em auto;
  font-size: 1.25rem;
}

.Results-header-count {
  font-size: 2rem;
}

/* Result Sprites */
.Results-section-header > h3 {
  font-size: 1.5rem;
}

.Results-section-content > img {
  /* original sprites are 96px by 96px */
  width: 80px;

}