.Controls-types {
  align-self: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  max-width: calc(9 * calc(7.1rem + 2px));
  gap: 1rem;
}

.type-button {
  padding: 0.5rem;
  width: 5.1rem;
  border: 1px solid black;
  border-radius: 0.5rem;
}

div.type-button > label {
  color: white;
  text-shadow: 1px 1px 0 darkgray;
}